@media (min-width : 481px) and (max-width: 768px){

    .navigation{
        display: none;
    }

/* Geral */

    .container{
        width: 550px;
        height: 100%;
        padding: 0px;
        margin: 0px auto;
        overflow: hidden;
    }

/* Capa */

    #capa{
        height: 100%;
        margin-top: -80px;
    }

/* Habilidades */

    #skills > .text-skills {
        width: 100%;
    }

    .icons-skills ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .icons-skills ul li {
        margin: 20px auto;
    }

    .nav-bar-name {
        display: none;
    }

    .img-mobile {
        display: block;
    }

    .img-mobile img {
        width: 270px;
        margin: 34px auto 34px auto;
        border: 8px solid #3a3a3a;
        border-radius: 50%;
    }

    .content-right {
        display: none;
    }

/* Sobre mim */

    #about {
        margin-top: -130px;
    }

    .social-icons {
        gap: 1.2rem;
    }

    .links-container a {
        padding: 10px 25px;
    }

    .text-skills {
        padding: 30px;
        font-size: 0.9rem;
    }

/* Cursos */

#certifications > .form-h4, .certifications > h4 {
    padding-left: 40px;
}

/* Rodape */

    footer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .copy-center p {
        font-size: 0.8rem;
    }

    footer .nav-bar-name {
        margin: 0px;
    } 

}

@media (min-width : 769px) and (max-width: 1024px) {

    #header{
        display: none;
    }

    #skills > .text-skills {
        width: 100%;
    }

    .icons-skills ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .icons-skills ul li {
        margin: 20px auto;
    }

    footer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .copy-center p {
        font-size: 0.8rem;
    }

    footer .nav-bar-name {
        margin: 0px;
    } 
}

@media (min-width: 862px) and (max-width: 1199px) {

    
    #header {
        display: none;
    }

    #name-logo {
        display: block;
        margin-bottom: 20px;
    }

    .navigation {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
    }

    .content-left .tittle {
        font-size: 50px;
    }

    .tittle span {
        font-size: 53px;
    }

    .container-p {
        padding: 35px 0px 43px 0px ;
    }

    .social-icons {
        gap: 2.5rem;
    }

    .links-container {
        display: flex;
        flex-wrap: wrap ;
        display: inline-block;
        margin: 2em auto;
    }

    .links-container a {
        padding: 18px 40px;
    }

    #capa {
        display: flex;
        flex-flow: wrap column;
        width: 100%;
        height: 32vw;
        margin-bottom: 500px;
        text-align: center;
    }

    .content-right {
        display: none;
    }

    #skills > .text-skills {
        width: 100%;
    }
    
}
